<div id="context-menu" ng-style="$ctrl.coordinates" ng-if="$ctrl.ContextMenuService.isContextMenuShowing">
    <ul>
        <li><button type="button" name="add column before" class="btn btn-default" ng-click="$ctrl.addColumn('before')">add column before</button></li>
        <li><button type="button" name="add column after" class="btn btn-default" ng-click="$ctrl.addColumn('after')">add column after</button></li>
        <li><button type="button" name="add row before" class="btn btn-default" ng-click="$ctrl.addRow('before')">add row before</button></li>
        <li><button type="button" name="add row after" class="btn btn-default" ng-click="$ctrl.addRow('after')">add row after</button></li>
        <li><button type="button" name="delete row" class="btn btn-default" ng-click="$ctrl.deleteRow(false)">delete row</button></li>
        <li><button type="button" name="delete column" class="btn btn-default" ng-click="$ctrl.deleteColumn(false)">delete column</button></li>
    </ul>
</div>