<div class="container">
    <div class="row">
        <div id="table" class="clearfix">
            <div class="colIndex">
                <span class="cell-title">№</span>
                <title-cell ng-repeat="title in $ctrl.titleList" title="title"></title-cell>
            </div>
            <row-item ng-repeat="row in $ctrl.rows" cells-content="row" index-row="$index+1">
            </row-item>
        </div>
        <button type="button" name="add-cell" class="btn btn-default add-delete" ng-click="$ctrl.addCell()">Add cell</button>
        <button type="button" name="add-row" class="btn btn-default add-delete" ng-click="$ctrl.addRow()">Add row</button>
        <button type="button" name="delete-row" class="btn btn-default add-delete" ng-click="$ctrl.deleteRow()">Delete row</button>
        <button type="button" name="delete-cell" class="btn btn-default add-delete" ng-click="$ctrl.deleteCell()">Delete cell</button>
    </div>
</div>