ul {
    padding: 0;
    margin: 0;
}
#table {
    margin-top: 20px;
}
.cells, .colIndex {
    float: left;
}
.rowIndex {
    display: block;
    float: left;
    height: 50px;
    width: 50px;
    border: 1px solid #ccc;
    border-right: none;
    line-height:50px;
    text-align: center;
}
.row-item {
    margin-bottom: 10px;
}
.colIndex .cell-title, .cell {
    display: block;
    float: left;
    height: 50px;
    width: 50px;
    border: 1px solid #ccc;
    border-right: none;
    line-height:50px;
    text-align: center;
}
title-cell:last-child .cell-title, .cells:last-child .cell {
    border-right: 1px solid #ccc;
}
cell-item {
    position: relative;
}
.cell.selected {
    background: #e6e6e6;
}
#context-menu {
    position: absolute;
    padding: 5px;
    z-index: 99;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#context-menu ul {
    list-style: none;
}
#context-menu ul li button {
    width: 145px;
}