#table {
    margin-top: 20px;
}
.cells, .colIndex {
    float: left;
}
.rowIndex {
    float: left;
    height: 50px;
    width: 50px;
    border: 1px solid #ccc;
    border-right: none;
    line-height:50px;
    text-align: center;
}
.row-item {
    margin-bottom: 10px;
}
.colIndex .cell-title, .cell {
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 1px solid #ccc;
    border-right: none;
    line-height:50px;
    text-align: center;
}
.colIndex .cell-title:last-child, .cells:last-child .cell {
    border-right: 1px solid #ccc;
}
input.add-delete {
    margin-top: 20px;
}
.cell.selected {
    background: #e6e6e6;
}