<input class="cell"
    type="text"
    name="text"
    ng-if="$ctrl.editing"
    ng-keydown="$ctrl.checkKeystroke($event) && $ctrl.save()"
    ng-model="$ctrl.cellContent"
    tw-click-outside="$ctrl.save()"
    focus-if="$ctrl.editing"
>
<span class="cell"
    ng-if="!$ctrl.editing"
    ng-click="$ctrl.selectCell(false)"
    ng-dblclick="$ctrl.toggleEdit()"
    ng-class="{'selected': $ctrl.selected}"
    ng-right-click="$ctrl.toggleContextMenu($event, true)"
>
    {{$ctrl.cellContent}}
</span>
